.bar-button {
	background: radial-gradient(146.28% 146.28% at 50% 50%, #fdfdfd 0%, rgba(237, 237, 237, 0) 100%);
	border: 1px solid #ffffff;
	box-sizing: border-box;
	box-shadow: inset 9px 4px 17px #ffffff;
	filter: drop-shadow(0px 16px 24px rgba(0, 0, 0, 0.06)) drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.04))
		drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.04));
	border-radius: 10px;
  @apply p-[10px] inline-flex items-center;

}

.elm-bar {
	border-radius: 16px;
	background: #ededed;
	border: 1px solid #ffffff;
	box-sizing: border-box;
	box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
		0px 0px 1px rgba(0, 0, 0, 0.04);
}
@supports (mask-image: paint(smooth-corners)) {
	// .is-loaded
	.elm-bar {
		border-radius: 0;
		mask-image: paint(smooth-corners);
		--smooth-corners: 10;
	}
}
